In [ ]:
import os
import json
from collections import Counter

import pandas as pd
import sqlalchemy
import dotenv

dotenv.load_dotenv("../.env")

True

In [2]:
engine = sqlalchemy.create_engine(os.getenv("PGCONN"))

In [3]:
pd.read_sql_query("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'", con=engine)

           table_name
0             dataset
1             example
2     structured_link
3                link
4    structured_input
5  structured_example

In [4]:
dataset = pd.read_sql_table("dataset", con=engine)

# Get the dataset ID for the dataset we want to query
dataset.query("name == 'ume-final'")

   id       name     created   meta  session
9  10  ume-final  1740430466  b'{}'    False

In [5]:
examples = pd.read_sql_table("example", con=engine)
examples

,id,input_hash,content,task_hash
0,1,869596046,"b'{""idx"":487,""question"":""A biologist models th...",-482254096
1,2,1965004864,"b'{""idx"":591,""question"":""A savings account sta...",-2043517965
2,3,-759792225,"b'{""idx"":487,""question"":""A biologist models th...",1689464308
3,4,-14046686,"b'{""idx"":508,""question"":""A school club with 80...",128649510
4,5,70955040,"b'{""idx"":560,""question"":""Company A offers a st...",-21803035
...,...,...,...,...
173,174,1162920760,"b'{""idx"":473,""question"":""Two students measured...",2061925689
174,175,-1446130947,"b'{""idx"":650,""question"":""A cup of coffee cools...",1816545896
175,176,-2103237491,"b'{""idx"":550,""question"":""A team wants to test ...",172732913
176,177,945134491,"b'{""idx"":610,""question"":""A basketball player s...",593500113
177,178,1667110261,"b'{""idx"":652,""question"":""A line passes through...",1606957060

In [ ]:
annotator_ids = []
for i, row in examples.iterrows():
    content = json.loads(row["content"])
    annotator_id = content["_annotator_id"]
    if annotator_id.startswith("ume-final"):
        annotator_ids.append(annotator_id)

Counter(annotator_ids)

Counter({'ume-final-catherine': 101,
         'ume-final-stephanie': 41,
         'ume-final-jennifer': 35})