In [6]:
import pandas as pd
import sqlalchemy
import dotenv
import os

dotenv.load_dotenv("../.env")

True

In [7]:
engine = sqlalchemy.create_engine(os.getenv("PGCONN"))

In [8]:
pd.read_sql_query("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'", con=engine)

           table_name
0             dataset
1             example
2     structured_link
3                link
4    structured_input
5  structured_example

In [9]:
dataset = pd.read_sql_table("dataset", con=engine)

# Get the dataset ID for the dataset we want to query
dataset.query("name == 'ume-final'")

   id       name     created   meta  session
9  10  ume-final  1740430466  b'{}'    False

In [10]:
examples = pd.read_sql_table("example", con=engine)
examples

,id,input_hash,content,task_hash
0,1,869596046,"b'{""idx"":487,""question"":""A biologist models th...",-482254096